@media screen and (width > 1023px) {
    /* services__offer */

    .services__offer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        text-align: center;
    }

    .for-mobile {
        display: none !important;
    }
}

@media screen and (width < 1024px) {

    .for-desktop {
        display: none !important;
    }

    .clinic {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .section {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .section__text {
        padding: 40px;
    }

    .section__subtitle {
        padding: 0;
        text-align: center;
    }

    .section__grid {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .section__grid-1 {
        grid-column: span 2;
        grid-row: auto;
    }

    .section__grid-2, .section__grid-3, .item__img-2 {
        grid-column: auto;
    }

    .section__flex {
        display: flex;
        gap: 20px;
    }
    
    .clinic__item {
        display: grid;
        justify-items: center;
        text-align: center;
    }

    .btn {
        margin-bottom: 36px;
    }

    .services__text {
        text-align: center;
    }

    .serviсes__body {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0;
    }

    .serviсes__item {
        display: grid;
        justify-items: center;
        text-align: center;
        padding: 50px 0;
    }

    .serviсes__offer {
        display: flex;
    }

    .services__slider .slider__controls {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        gap: 20px;
    }

    .specialist {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .specialist__item {
        text-align: center;
    }

    .header__tell {
        display: none;
    }

    .swiper {
       max-width: 558px;
    }
    
    .swiper-button-next {
        top: auto;
        bottom: -60px;
        overflow: hidden;
    }
    
    .swiper-button-prev {
        top: auto;
        bottom: -60px;
    }

    .contacts {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 48px 0;
    }

    .contact__item {
        padding-bottom: 36px;
    }

    .contact__item .section__title{
        padding: 0;
    }

    .contact__map {
        justify-content: center;
    }

    .bio {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .bio__text {
        max-width: max-content;
    }

    .bio__img {
        display: none;
    }

    .bio__item {
        grid-column: 1;
    }
    
    .bio__item-title {
        display: block;
    }

    .bio__slider {
        grid-column: 1;
    }

    .recom {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .price {
        display: flex;
        gap: 0;
    }
    
    .price__item {
        width: 350px;
        height: 350px;
    }

    .prices__title {
        text-align: center;
    }

    .prices__slider .slider__controls {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        gap: 20px;
    }

    .services__offer-title br {
        display: none;
    }

    .footer br {
        display: none;
    }

    .footer__item--3 {
        padding-left: 14px;
        padding-top: 24px;
    }

    .footer__item--4 {
        padding-left: 14px;
        padding-top: 24px;
    }

    .services-card__item {
        grid-template-columns: 1fr;
    }

    .services-card__arrow {
        display: none;
    }

    .services-card__arrow--mob {
        display: block;
        margin-top: 40px;
        width: 70px;
        height: 32px;
    }

    .services-card__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding-top: 40px;
        padding-bottom: 0;
    }

    .services-card__body {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 10px;
    }

    .services-card__body-item {
        width: 360px;
        height: 110px;
    }

}

@media screen and (width < 768px) {
    .header__menu {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        left: 0;
        top: calc(var(--header-height) + 1px);
        background-color: var(--color-brand-btn);
        margin: 0px;
        padding: 30px 0 30px 50px;
    }

    .header__menu-item {
        flex-direction: column;
    }

    
    .header__menu a {
        color: #FFF;
        font-size: 24px;
    }
    
    .header__container {
        padding: 0;
    }
    
    .hamburger-toggle {
        display: block;
    }

    .hamburger-toggle.is-active~ .header__row .header__menu {
        display: block;
    }

    .page-header__logo {
        min-width: 70px;
    }

    .header__link {
        min-width: 70px;
    }

    .header__link-img {
        min-width: 20px;
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .section__title {
        font-size: 32px;
        padding-top: 20px;
    }

    .section__text {
        font-size: 20px;
        padding: 40px;
    }

    .specialist__title {
        font-size: 32px;
        padding: 10px 0 56px;
    }

    .specialist__text {
        font-size: 20px;
    }

    .accordion__header {
        font-size: 32px;
        justify-content: center;
    }

    .item__img--none {
        display: none;
    }

    .item__img {
        max-width: 100%;
        object-fit: cover;
        height: auto;
    }
    
    .item__img-2 {
        display: none;
    }

    .item__img-3 {
        max-width: 100%;
        height: 124px;
    } 

    .serviсes__item {
        padding: 0;
    }

    .services__text {
        font-size: 20px;
    }

    .section__subtitle {
        font-size: 32px;
    }

    .services-card__title {
        font-size: 32px;
    }

    .services-card__text {
        font-size: 20px;
    }

    
}


