:root {
    /* color */
    --color-brand: #8A57C9;
    --color-brand-btn: #422A5F;
    --color-brand-btn-hover: #6F36B5;
    --color-black: #31332C;
    --color-background: #E4F4FF;
    --color-border: #ABCEE6;
    --color-input: #63BD5B;

    /* font */
    --font-family: 'Montserrat', sans-serif;
    --font-size: 24px;
    --font-size-nav: 20px;

    --header-height: 120px;

}

/* global */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color-black);
}

a {
    text-decoration: none;
    color: var(--color-black);

    transition: all 0.5s;
}

button {
    display: inline-flex;
    border: none;
    outline: none;
    background: transparent;
}

a:hover {
    color: var(--color-brand);
}

li {
    list-style: none;
}

h1 {
    margin: 0;
}

img {
    max-width: 100%;
}

/* layout */

.container {
    max-width: 1136px;
    margin: 0 auto;
}

/* background */

.background {
    background-color: #E4F4FF;
}

/* header*/

.border-bottom {
    border-bottom: 1px solid var(--color-border);
}

.border-top {
    border-top: 1px solid var(--color-border);
}

.border-radius {
    border-radius: 50px;
}



.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 96px 0 121px;
    margin: 37px 0 16px;

    font-size: var(--font-size-nav);
}

.header__row {
    display: flex;
}

.header__menu-item {
    display: flex;
    gap: 32px;
    padding-left: 80px;
    margin: 32px 0;
}



.header__tell {
    padding-right: 20px;
}

/* hamburger */

.hamburger-toggle {
    display: none;
}

.hamburger-inner {
    background-color: var(--color-brand-btn-hover);
}

.hamburger-inner:after {
    background-color: var(--color-brand-btn-hover);
}

.hamburger-inner:before {
    background-color: var(--color-brand-btn-hover);
}

.hamburger.is-active .hamburger-inner {
    background-color: var(--color-brand-btn-hover);
}

.hamburger.is-active .hamburger-inner:after {
    background-color: var(--color-brand-btn-hover);
}

/* section */

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 96px 0;
}

.section__title {
    font-size: 36px;
    font-weight: 500;
    color: var(--color-brand);
}

.section__subtitle {
    font-size: 36px;
    font-weight: 500;
    color: var(--color-brand);
    padding-top: 49px;
    padding-left: 8px;
}

.section__text {
    padding: 60px 0;
}

.section__img {
    border-radius: 50px;
    padding-left: 10px;
}

.item__img {
    max-width: 100%;
    object-fit: cover;
    height: 506px;
}

.item__img-1 {
    max-width: 100%;
    height: 326px;
    object-fit: cover;
}

.item__img-2 {
    max-width: 100%;
    height: 140px;
    object-fit: cover;
}

.item__img-3 {
    max-width: 100%;
    height: 224px;
}

/* slider */

.slider__button {
    width: 40px;
    height: 40px;
}

.slider__button img {
    width: 100%;
    height: 100%;
}

.services__slider .slider__controls {
    display: none;
}

/* clinic*/

.clinic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 90px 0 44px;
}

.clinic__item {
    padding-left: 10px;
}

.clinic__item-img {
    padding-top: 12px;
}


/* btn */

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    max-width: 254px;
    border: 1px solid var(--color-brand);
    border-radius: 50px;
    padding: 12px 64px;

    font-size: 20px;
}

.btn:hover {
    background-color: var(--color-brand);
    color: #FFF;
}

.btn--black {
    background-color: var(--color-brand-btn);
    color: #FFF;
    padding: 12px 62px;
}

.btn--input {
    border-color: var(--color-input);
}

.btn--input:hover {
    background-color: var(--color-input);
    color: #FFF;
}

/* serviсes */

.serviсes {
    padding: 48px 0;
}

.serviсes__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.serviсes__item {
    padding: 100px 0 100px 40px ;
}

.services__text {
    font-size: 24px;
    padding: 22px 0 48px 8px;
}

.padding-left {
    padding-left: 8px;
}

.color-brand {
    color: var(--color-brand);
    font-weight: 500;
}

/* services__offer */

.services__offer-item {
    grid-column: span 4;
    padding: 52px 0;

    border-radius: 50px;
    border: 1px solid var(--color-border);
    text-align: center;
    background: #FFF;
}

.services__offer-title {
    color: var(--color-brand);
    font-size: 32px;
    font-weight: 500;
}

.services__offer-text {
    font-size: 20px;
    color: var(--color-black);
    padding: 42px 0;

    display: grid;
    gap: 16px;
}

.serviсes__doptext {
    font-size: 20px;
    color: var(--color-black);
    margin-top: 47px;
    padding-left: 16px;
}

/* specialist */

.specialist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 46px;
    padding: 48px 0;
}

.specialist__item {
    padding-left: 4px;
}

.specialist__title {
    color: var(--color-brand);
    font-size: 64px;
    font-weight: 500;
    padding: 84px 0 60px;
}

/* accordion */

.accordion__item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.accordion__header {
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: -4px;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.accordion__header--text {
    color: var(--color-brand);
    font-weight: 500;
    font-size: 36px;
}

.accordion__header--loyout {
    margin-bottom: 40px;
}

.accordion__content {
    display: none;
    padding-top: 48px;
}

.accordion.show .accordion__content {
    display: block;
}

.accordion.show .accordion__arrow {
    transform: rotateX(180deg);
}

.accordion__arrow {
    transition: 0.3s;
    padding-left: 17px;
}

.accordion__img {
    width: 920px;
    height: 583px;
    max-width: 100%;
    object-fit: contain;
}

.accordion__slider {
    margin: 0 auto;
}

.accordion__slider .slider__controls {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 20px;
}

/* footer */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 24px 0;
}

.footer__item {
    font-size: 16px;
}

.footer__item--1 {
    padding: 0 0 24px 14px;
}

.footer__item--2 {
    padding-left: 14px;
}

.footer__item--3 {
    padding-left: 66px;
}

.footer__item--4 {
    padding-left: 109px;
}

/* popup */

.popup {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.popup.is-active {
    opacity: 1;
    visibility: visible;
}

.popup__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    ;
}

.popup__close {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 10;
    width: 20px;
    height: 20px;
}

.popup__close img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup__container {
    position: relative;
    z-index: 2;
    background-color: #fff;
    overflow: hidden;
    border-radius: 50px;
}

.popup__content {
    max-height: 90vh;
    overflow: auto;
    border-radius: 50px;
}

/* test */

.test {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 560px;
    min-height: 512px;
}

.test__head {
    background-color: var(--color-background);
    padding: 28px 60px;
}

.test__title {
    color: var(--color-brand);
    font-size: 20px;
    font-weight: 500;
}

.test__body {
    padding: 40px 57px 60px 57px;
    position: relative;
}

.test input {
    display: none;
}

.test__answers {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: relative;
}

.test__result-title {
    font-size: 20px;
}

.test__body-text {
    font-size: 20px;
    padding: 26px 0;
}

.text--brend {
    color: var(--color-brand);
    font-weight: 500;
    text-decoration-line: underline
}

.text--brend-noneunnderline {
    color: var(--color-brand);
    font-weight: 500;
}

.fw-500 {
    font-weight: 500;
}

.test__text {
    font-size: 20px;
    padding-left: 12px;
}

.test__next {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    right: 60px;
    bottom: 60px;
}

.test__input {
    padding-bottom: 20px;
    cursor: pointer;
}

.test__radio {
    display: inline-block;
    border: 1px solid var(--color-black);
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 300px;
    background-color: #ffffff;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.test__radio:before {
    content: '';
    background: var(--color-input);
    width: 8px;
    height: 8px;
    opacity: 0;
    transition: 0.3s;
    border-radius: 300px;
}

.test input:checked+.test__radio:before {
    opacity: 1;
}

.test input:checked+.test__radio {
    border-color: var(--color-input);
}

.test__checkbox {
    display: inline-block;
    border: 1px solid var(--color-black);
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #ffffff;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.test input:checked+.test__checkbox {
    background-image: url(./check.svg);
    border: none;
}

.test__finish {
    position: absolute;
    right: 60px;
    bottom: 60px;
    margin-bottom: 0 !important;
}

.test__step {
    display: none;
    
}

.test__step.is-active {
    display: block;

}

/* section__gr1d */

.section__grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 24px;
    align-items: center;
}

.section__grid-1 {
    grid-column: span 3;
    grid-row: span 2;
}

.section__grid-2 {
    grid-column: span 3;
    grid-row: span 2;
}

.section__grid-3 {
    grid-column: span 2;
}

.section__item-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

/* contacts */

.contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 96px 0;
}

.contact__item {
    padding-bottom: 56px;
}

.contacts__text {
    padding-top: 20px;
    display: block;
}

.contact__map {
    display: flex;
    align-items: center;
}

/* services-card */

.services-card {
    padding: 48px 0;
    margin: 96px 0;
}

.services-card__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.services-card__title {
    font-size: 48px;
    font-weight: 500;
    color: var(--color-brand);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-card__arrow {
    margin-top: 20px;
    width: 70px;
    height: 32px;
}

.services-card__arrow--mob {
    display: none;
}

.services-card__text {
    padding-bottom: 56px;
}


.services-card__body {
    display: flex;
    justify-content: space-between;
}

.services-card__body-item {
    display: flex;
    width: 252px;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #ABCEE6;
    background: #FFF;
    text-align: center;
}

.services-card__body-text {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-brand);
}

/* breadcrumb */

.breadcrumb {
    display: flex;
    gap: 5px;
    margin: 48px 0;

    font-size: 16px;
}

/* bio */

.bio {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    margin-bottom: 48px;
}

.bio__item-title {
    display: flex;
    justify-content: space-between;
}

.bio__title {
    font-size: 64px;
    font-weight: 500;
    color: var(--color-brand);
}

.bio__text {
    line-height: 127%;
    /* max-width: 664px; */
    padding: 56px 0 48px;
}

.bio__item {
    grid-column: span 4;
}

.bio__slider {
    grid-column: span 2;
}

.bio__slider-img {
    height: 436px;
    max-width: 100%;
    border-radius: 50px;
}


/* recom */

.recom {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;

    padding: 48px 0;
}

.recom__title {
    font-size: 36px;
    font-weight: 500;
    color: var(--color-brand);
}

.recom__text {
    font-size: 20px;

    padding-top: 56px;
}

.recom__item-1 {
    grid-column: span 3;
}

.recom__item-2 {
    grid-column: span 2;
}

.recom__item-3 {
    grid-column: span 3;
}

/* price */

.prices {
    margin: 48px 0 96px;
}

.prices__title {
    font-size: 36px;
    font-weight: 500;
    color: var(--color-brand);
}

.price {
    display: flex;
    gap: 20px;

    padding-top: 50px;
}

.price__item {
    width: 211px;
    height: 225px;

    border-radius: 50px;
    border: 1px solid var(--color-border);
    background: var(--color-background);

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* swiper */

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--color-brand);
    background-color: #FFF;
    opacity: var(--color-brand);
}

.swiper-pagination-bullet-active {
    background-color: var(--color-brand);
}

.slider__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    justify-content: center;
    padding: 20px;
}

